<h1>Adicione um produto ao carrinho</h1>
<form action="/users/create" method="POST" class="form">
    <div class="form-control">
        <label for="name">Nome do produto:</label>
        <input type="text" name="name" placeholder="Digite o nome do produto">
    </div>
    <div class="form-control">
        <label for="occupation">Marca do produto:</label>
        <input type="text" name="occupation" placeholder="Digite a marca do produto">      
    </div>
    <div class="form-control form-checkbox">
        <input type="checkbox" name="newsletter" checked>
        <label for="newsletter">Produto</label>
    </div>
    <input type="submit" value="Adicionar ao carrinho">
</form>